@charset "utf-8";
/* CSS Document */


			.list_carousel {
				background-color: #F7F7F7;
				margin: 0;
				padding:10px 20px;
				position:relative;
				border:#E6E6E6 1px solid;
				border-top: 2px solid #aeb6ba;
				border-bottom:none;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				color: #999;
				width: 350px;
				height: 250px;
				overflow:hidden;
				padding: 0;
				margin: 8px;
				display: block;
				float: left;
			}
			.list_carousel li img{ 
				width:350px;
				height:250px;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				position:absolute;
				display:block;
				background:url(../images/icon/ICON_GoLeft.png) left center no-repeat;
				width:14px;
				height:210px;
				top:80px;
				left:5px;
				text-indent:-9999px; outline:none;
				
			}
			.next {
				position:absolute;
				display:block;
				width:14px;
				height:210px;
				text-indent:-9999px; outline:none;
				background:url(../images/icon/ICON_Goright.png) right center no-repeat;
				top:80px;
				right:5px;
			}
			.pager {
				float: left;
				width: 500px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}