@charset "utf-8";
/* CSS Document */

/*-----橫幅美圖------*/
.BANNER{
	display:block;
	width:100%;
	height:152px;
	margin-bottom:15px;
	position:relative;
	
}
/*.BANNER:after{ display:block; content:""; height:15px; width:100%;
	position:absolute;
	z-index:-1;
	bottom:5px;
	border-radius:50%;
	behavior: url(css/PIE/PIE.htc);
	box-shadow:0px 10px 8px hsla(0,0%,0%,0.5);
}*/
.BANNER h4{ display:none;}
.BANNER .Brief{ width:360px; margin:88px 0 10px 38px; font-family:"微軟正黑體", Verdana; font-size:12px; color:#333; }

#listViewed{
	height: 155px;
	background:url(../images/banners/ViewedList.jpg) left top no-repeat;
	border-top:#c49c64 double 3px; border-bottom:#c49c64 double 3px; }
#listAwarded{ 
	background:url(../images/banners/awardedList.jpg) left top no-repeat;
	border-top:#a97265 5px solid; border-bottom:#a97265 double 3px; border-bottom:3px double rgba(169, 114, 101, 0.5);
	behavior: url(css/PIE/PIE.htc);}
#listAwarded02{ 
	background:url(../images/banners/awardedList.jpg) left top no-repeat;
	border-top:#a97265 5px solid; border-bottom:#a97265 double 3px; border-bottom:3px double rgba(169, 114, 101, 0.5);
	behavior: url(css/PIE/PIE.htc);}
#listAwarded03{ 
	background:url(../images/banners/awardedList.jpg) left top no-repeat;
	border-top:#a97265 5px solid; border-bottom:#a97265 double 3px; border-bottom:3px double rgba(169, 114, 101, 0.5);
	behavior: url(css/PIE/PIE.htc);}
#listRegion{ 
	background:url(../images/banners/regionList.jpg) left top no-repeat;
	border-top:#A3A34F 5px solid; border-bottom:#A3A34F double 3px; }
#listVariety{ 
	background:url(../images/banners/varietyList.jpg) left top no-repeat;
	border-top:#85724d 5px solid; border-bottom:#85724d double 3px; border-bottom:3px double rgba(133, 114, 77, 0.8);
	behavior: url(css/PIE/PIE.htc);}

#listCritic{ 
	background:url(../images/banners/wineCriticList.jpg) left top no-repeat;
	border-top:#3d342a 5px solid; border-bottom:#3d342a double 3px; border-bottom:3px double rgba(61, 52, 41, 0.4);
	behavior: url(css/PIE/PIE.htc);}
	
#listCritic .Brief{ width:100%; margin:88px 0 10px 63px; font-family:"微軟正黑體", Verdana; font-size:12px; color:#333;
 }
#listChart{ 
	background:url(../images/banners/chartsList.jpg) left top no-repeat;
	border-top:#a56f2b double 3px; border-bottom:#a56f2b double 3px; height:155px;}
#listChart .Brief{ width:450px; margin:100px 0 10px 55px; color:#fff; font-size:12px; font-weight:bold; text-shadow:0 0 3px rgba(0, 0, 0, .8);} 
#listRegionIndex{
	background:url(../images/banners/RegionIndexList.jpg) left top no-repeat;
	border-top:#afba50 double 3px;; border-bottom:#afba50 double 3px;}	
#listVarietyIndex{
	background:url(../images/banners/sortByVarietyList.jpg) left -8px no-repeat;
	border-top:#785672 double 3px; border-bottom:#785672 double 3px; }	
#listFoodnWine{ background:url(../images/banners/foodnWineList.jpg) left -8px no-repeat;
	border-top:#785672 5px solid; border-bottom:#785672 double 3px; border-bottom:3px double rgba(118, 82, 111, 0.5);}


/*威士忌產區*/
#listVarietyIndex-Whisky{
	background:url(../images/banners/WhiskyRegions.jpg) left -8px no-repeat;
	border-top:#9b7310 double 3px; border-bottom:#9b7310 double 3px;  }

/*威士忌特殊風味*/	
#listRegionIndex-Whisky{
	background:url(../images/banners/RegionIndexList-Whisk.jpg) left top no-repeat;
	border-top:#9b7310 double 3px; border-bottom:#9b7310 double 3px;}	

	
.WorldMap{ height:205px; margin:2px 15px 10px 28px; border:#dfdfdf 1px solid; padding:2px; background:url(../images/icon/worldMap01.png) center center no-repeat; position:relative; }
.WorldMap p.JP{
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	left: 437px;
	top: 15px;
}
.WorldMap p.FR{
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	left: 181px;
	top: 15px;
}

.WorldMap p.USA{
	position:absolute;
	display:block;
	width:40px;
	height:45px;
	left: 97px;
	top: 15px;
}
.WorldMap p.CN{
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	left: 332px;
	top: 15px;
}
.WorldMap p.AF{
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	left: 255px;
	top: 15px;
}
.WorldMap p.AU{
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	left: 494px;
	top: 15px;
}
.WorldMap p span{ display:block; padding:0 2px; text-align:center; font-family:"微軟正黑體", Verdana; color:#fff; line-height:12px; }
.WorldMap p span:first-child{ font-size:15px; font-weight:bold; line-height:20px;}


#vmap{ width:600px; margin:2px 10px 10px 20px; height:400px;}

.DeskTop{ color:#fff; font-family:"微軟正黑體", Verdana; font-size:15px; height:28px;font-weight:bold; text-shadow:0 0 2px rgba(0, 0 ,0, .8); margin:0 0 10px 0; padding: 0 0 0 15px;
border-radius:0 12px 0 12px / 0 50% 0 50%;
background-color:#80808a;
behavior: url(css/PIE/PIE.htc);
}
.DeskTop span{ display:block; border-left:#fff 3px solid; padding:6px 0 0 10px; line-height:15px;}

.DeskTop_Region{ border-top:#76526F double 3px; color:#968580; font-family:"微軟正黑體", Verdana; font-size:15px; height:28px;font-weight:bold;  margin:0 0 10px 0; padding: 3px 0 0 10px; /*border-left:#968580 3px solid;*/ position:relative;}
.DeskTop_Region span{ line-height:28px}
.DeskTop_Region span.latitude{
	display: block;
	position:absolute;
	width:80px;
	height:28px;
	color:#FFF;
	font-weight:bold;
	background:url(../images/icon/latitudeBG.png) left top no-repeat;
	font-size:14px;
	line-height:28px;
	text-align:center;
	left: 160px;
	top: 5px;
}


/*-----圖文並茂下拉區塊---------*/
.Info{ display:block;
	width:630px;
	float:right;
	margin-bottom:15px;
	/*min-height:180px;*/
	position:relative;
	/*box-shadow: inset 0 0 15px rgba(0, 0, 0, .1);*/
	border:#dfdfdf 1px solid; }
.Info .TitleRegion{
	position:absolute;
	display:block;
	width:25px;
	height:130px;
	font-size:16px;
	font-weight:bold;
	font-family:"微軟正黑體", Verdana;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
	background:url(../images/icon/InfoTitle_Region.png) left top no-repeat;
	padding:45px 8px 0 8px;
	left: 0px;
	top: 0px;
}
.Info .Brief{ width:560px; float:right; padding-top:15px; font-family:"微軟正黑體", Verdana; overflow:auto;position:relative; padding-right:20px;}
.Info .Brief .IMG{ width:560px; clear:both; height:350px; overflow:hidden; border:#dfdfdf 1px solid; padding:2px; }
.Info .Brief .IMG img{ width:560px; height:auto;}
.Info .Brief .IMG2{ width:300px; height:360px; overflow:hidden; border:#dfdfdf 1px solid; padding:2px; float:left; margin:0 10px 10px 0; }
.Info .Brief .IMG2 img{ height:360px; width:auto;}
.Info .Brief .TEXT{ display:block; padding:5px 20px 0 0; text-align:justify; }
.Info .Brief h2{}
.Info .Brief h2 span{ padding-right:8px; float:left;} 
.Info .Brief a#MAP{
	display:block;
	z-index:10;
	background:url(../images/icon/map.png) left top no-repeat;
	outline:none;
	width:28px;
	height:28px;
	line-height:24px;
	text-indent:-9999px;
	float:left; 
}
.Info .read-less a{ color:#ccc; float:right; font-size:11px; text-decoration:underline;} 
.Info .read-less a:hover{ color:#333;}



.Info .Brief .readmore{ clear:both; padding:10px 20px 0 0; display:block;  color:#555; line-height:18px; letter-spacing:1px;}
.Info .Brief .readmore p{}
.Info .Brief .readmore2{ clear:both; padding:10px 20px 0 0; display:block;  color:#555; line-height:18px; overflow:auto; letter-spacing:1px;}
.Info .Brief .readmore2 p{ padding:0 0 10px 0; line-height:21px; display:block; letter-spacing:1px;}

.Info2{ display:block;
	width:630px;
	float:right;
	margin-bottom:15px;
	position:relative;
	border-bottom:#e4e0de 1px solid; }
	
.Info2 h3{ background:url(../images/grapeInfoBG.png) left top no-repeat; line-height:22px; padding-left:15px; margin-bottom:10px; color:#717071; font-size:13px; font-weight:bold; font-family:"微軟正黑體", Verdana; cursor:pointer;}
.FlavorBox{ padding-left:10px;}

.Flavor{ display:block; width:550px; margin:2px 0 10px 28px; overflow:auto; position:relative;}
.Flavor p{ width:30px; height:30px; float:left; margin:5px 0 5px 10px; border:#dfdfdf 1px solid;}
.Flavor p:first-child{ margin:5px 0 5px 0;}
.Flavor p:focus, .Flavor p:hover{}


.INDEX{ padding:20px 15px 40px;}
.INDEX table{ 
	margin-bottom:40px;
}

/*20161125 Roger 新增padding-bottom*/
.INDEX td{
	height: 35px;
	padding-bottom: 20px;
}
/*20161125 Roger 新增padding-bottom end*/

.INDEX td a{ 
	display:block;
	padding:3px 10px; 
	color:#555;
	font-family:"微軟正黑體", Verdana; 
	font-size:16px; 
	line-height:16px;
	border-left:#666 2px solid;
}
.INDEX td a:focus, .INDEX td a:hover{ background-color:#e4e0de; color:#333; text-shadow:0 0 3px rgba(255,255,255, 1);}
.INDEX th{  
	font-size:22px; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	color:#666;
	border-top:#dfdfdf 1px solid;
	background-image: linear-gradient(top, rgb(242,242,242) 0%, rgb(255,255,255) 96%);
	background-image: -o-linear-gradient(top, rgb(242,242,242) 0%, rgb(255,255,255) 96%);
	background-image: -moz-linear-gradient(top, rgb(242,242,242) 0%, rgb(255,255,255) 96%);
	background-image: -webkit-linear-gradient(top, rgb(242,242,242) 0%, rgb(255,255,255) 96%);
	background-image: -ms-linear-gradient(top, rgb(242,242,242) 0%, rgb(255,255,255) 96%);
}
.INDEX th span{ 
	display:block;
	border:#666 1px solid;  
	line-height:1;
	width: 22px;
	padding: 3px; 
	margin :10px auto 10px; 
	text-align:center; 
	font-family:"微軟正黑體", Verdana; 
}

#Catalog{ display:block; position:absolute; width:120px; height:auto; background-color:#785472; top:26px; right:122px; z-index:100; padding:0;}
#Catalog li{ }
#Catalog li a{ color:#fff; font-family:"微軟正黑體", Verdana; line-height:24px;  font-size:12px; padding:5px 6px; background-color:#4F354A; display:block; border-bottom:#785472 1px solid;}
#Catalog li a:hover{ background-color:#785472;}


/****************201606Roger fix************************/
.Title_WhiteLine{
    width: 5px;
    height: 26px;
    float: left;
    margin-left: 20px;
    margin-top: 3px;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.Title_text{
    font-family: "微軟正黑體","新細明體";
    font-size: 28px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    -moz-text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    float: left;
}

.sortBTN{
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
	color: #fff;
	background-color: #666;
	font-size: 16px;
	font-family: "微軟正黑體";
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}